{% extends "base_generic.html" %}

{% block content %}
    <h1>Popisne postavke seznam</h1>

    {% if popisnapostavka_list %}
    <ul>

      {% for b in popisnapostavka_list %}
      <li>
        <a href="{{ b.get_absolute_url }}">{{ b.postavka }}</a> {{b.zaporedna_stevilka}},----------{{b.koda_popisne_postavke}},------({% for a in b.specifikacija.all %} , {{a.koda_specifikacije}} {{a.vsebina_specifikacije}} {% endfor %}), {{b.specifikacija_uporabnika}}
      </li>

      {% endfor %}

    </ul>
    {% else %}
      <p>Na žalost , nii popisa.</p>
    {% endif %}       
{% endblock %}
