


{% extends "base_generic.html" %}


{% block content %}

<STYLE>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</STYLE>


<div style="background-color:black;color:white;padding:20px;">    

<!--{% for a in popis.popisnapostavka_set.all %}{{a.postavka.dela.skupinaspecifikacijepostavke_set.all}}{% endfor %}-->

{{a.postavka.dela.skupinaspecifikacijepostavke_set.all}}




  
  <p><strong>Projekt:</strong> <a href="">{{ popis.projekt.naziv_projekta }}</a></p>
  <p title="To je komentar za ta stavek "><strong>Objekt:</strong> {{ popis.naziv_objekta }}</p>
</div>  
  <table class="table table-bordered">
  <table class="table table-striped">

  <tr style="background-color:red;">
    <td>poz.</td>
    <td>šifra/opis postavke</td>
    <td>em</td>
    <td>količina</td>
    <td>cena/em</td>
    <td>skupaj</td>
  </tr>

  {% for a in popis.popisnapostavka_set.all %}
  <tr>
    <td style ="font-size:100%;width:4%;"">{{a.zaporedna_stevilka_popisne_postavke}}</td>
    <td style="font-size:100%;width:40%;"><a href="{{ a.get_absolute_url }}">{{a.koda_popisne_postavke}}</a>
    <p style="font-size:100%;width:80%;background-color:#e0ebeb;">{{a.postavka.opis_postavke}} {% for b in a.specifikacija.all %} {{b.vsebina_specifikacije}} {% endfor %}{{a.specifikacija_uporabnika}}</p></td>
    <td style="font-size:100%;width:5%;background-color:#e0ebeb;">{{a.postavka.enota_mere}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
  {% endfor %} 
  </table>

{% endblock %}

